.container{
    position: relative;
    margin-left: 5%;
    margin-right: 3%;
    overflow-x: auto;
    height: 1000px;
}


.form {
    position: relative;
    top: -10px;
    
    padding: 20px; 
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 1950px;
}

.subTitle {
    padding: 0% 0% 0% 2%;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

.entire{
    padding: 2px;
}