
.box{
    display: flex;
    position: relative;
    top: 80px;
  }
  .sidebar{
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    width: 200px;
    display:flex;
    position: absolute;
    left : 0%;
    top: 4%;
}

.sidebar{
    background: #a9a8a9;
    color: #840029;
    transition: all 0.5s;
    z-index: 9999;
  }
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    width: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background: #840029;
    color: #000;
    transition: all 0.5s;
}
.active{
    
    background:#840029;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}
.main{
    margin-left: 200px;
    padding: 20px;
  }