



.App-background {
  width: 100%;
  top: 1in;
  left: 0;
  right: 0;
  margin: 0 auto;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  min-height: 175vh;
  font-size: 16pt;
}


.App-header {
  background-color: rgba(0, 0, 0, 0); /* black with 0 opacity */
  border-color: rgba(0, 0, 0, 0); /* black with 0 opacity */
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-position-x: 50%;
  color: white;
  font-size: 58pt;
  font-weight: bold;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.App-list {
  background-color: white;
  width: 80%;
  height: 80%;
  color: black;
}

.App-link {
  color: #61dafb;
}

.down {
  justify-content: center;
  align-Items: center;
  height: 100vh;
  margin-top: auto;
  margin: 0.5in 20% 0;
  color: black;
}

.calendar {
  
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  border: 1px solid black;
  padding: 10px;
  width: auto;
  height: auto;
  margin: 0 auto;
  font-family: sans-serif;
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.weekday {
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background-color: #ddd;
}

.day {
  text-align: center;
  padding: 5px;
  border: 1px solid #030000;
}

.blank-day {
  padding: 5px;
}
  
  
.application-container-style {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 10px;
  width: 900px;
  height: 150px;
}
  
.application-none {
  
  font-size: 16pt;
  color: red;
  font-style: bold;
}
  


.details-background {
  min-height: max-content;
  background-color: #fff;
}

.details-title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.details-content {
  
}

.details-icon-container {
  width: 150px;
  height: 150px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.details-icon {
  max-width: 100%;
  max-height: 100%;
}

.details-info-container {
 
}

.details-info {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.month-table td {
  border: 1px solid #ccc;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.month-table td.selected {
  background-color: #008000;
  color: #fff;
}











.background {
  background-color: lightgray;
  margin: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  opacity: 0.;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.no-applications {
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.application-container {
  position: absolute;
  top:30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  
}

.application-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  width: 300px;
  height: 250px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.application-box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.date {
  font-size: 16pt;
  font-style: oblique;
  margin-bottom: 20px;
}

.status {
  display: inline-block;
  padding: 8px 12px;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, calc(100% - 1em) 100%, 0 100%);
  transform-origin: left center;
}

.application-box:hover .status {
  animation: stretch-slide 1s forwards;
}


@keyframes stretch-slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: scaleX(1.2) translateX(0%);
  }
}


.details-button {
  background-color: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.application-box .status {
  position: absolute;
  left:0%;
  top: 0%;
  width: auto;
  height: auto;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 0px;
  font-weight: bold;
  text-transform: uppercase;
}

.application-box .status--pending {
  background-color: orange;
  color: #fff;
}

.application-box .status--interview {
  background-color: blue;
  color: #fff;
}

.application-box .status--denied {
  background-color: #d62828;
  color: #fff;
}

.application-box .status--complete,
.application-box .status--accepted {
  background-color: green;
  color: #fff;
}

.process-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  border: 2px solid;
  background-color: #8a8a8a;
}

.step:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 30px;
  height: 3px;
  background-color: #8a8a8a;
  transform: translateY(-50%);
}

.step.active:before {
  background-color: #27ae60;
}

.step:last-child:before {
  display: none;
}

.step:after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 30px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #8a8a8a;
  transform: translateY(-50%);
}

.step:last-child:after {
  display: none;
}

.step.pending.active {
  background-color: #27ae60;
}

.step.accepted.active {
  background-color: #27ae60;
}

.step.interview.active {
  background-color: #27ae60; 
}

.step.complete.active {
  background-color: #27ae60;
}


@keyframes shimmer {
  0% {
    box-shadow: 0 0 5px 5px #27ae5f9f;
  }
  50% {
    box-shadow: 0 0 10px 10px #27ae5f3a;
  }
  100% {
    box-shadow: 0 0 5px 5px #27ae5f9f;
  }
}

.step.active {
  box-shadow: 0 0 10px 10px #27ae60;
  animation: shimmer 2s ease-in-out infinite;
}

.content-container {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 100%;
  max-width: 1000px;
}