.container {
    height: 100%;
    width: 100%;
    position: relative;
    
}

.grayRight {
    width: 20%;
    height: 600px;
    margin-left: 5%;
    margin-right: 1%;
    float: left;
    background: #dad8d640;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    color: black;
    line-height: 60px;
}

.grayRight span{
    position: relative;
    top: 35px;
    left: 40%;
    font-size: 30px;
}
.grayRight ul{
    position: relative;
    left: 10%;
    top: 60px;
}
.circle{
    box-sizing: border-box;
    display:inline-table;
    position: relative;
    top: 8px;
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background: #cf142b;
    border: 1px solid black;
    border-radius: 50%;
}
