
.App {

    background-color : black;
    width : 100%;
    height : 15%;
    margin : auto;

}

.navbar {
    position: absolute;
    top: 3.9rem;
    
    background-color: #840029;
    width: 100%;
    height:6%;
    left: 0%;
    text-align: center;
}
    .navbar p {
        position: absolute;
        left: 25%;
        width: 50%;
        top: 34%;
    }

    .navbar a {
        color: white;
        margin: 20px; 

    }

.topPage {
    position: absolute;
    top : 10%;
    left: 0%;
    background-color: #840029;
    width: 100%;
    height: 5%;
    margin: 0;
    text-align: center;
    font-size : 30px;
    color : white;
}

.Form {
    background-color: #840029;
    position : absolute;
    width : 700px;
    height : 350px;
    top : 60%;
    left : 60%;
}
    .Form label {
        font-size: 18px;
        color : black;
    }
    .Form button {
        position : absolute;
        bottom : 5%;
        right : 5%;
    }